@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* --  Flash elements -- */
.flashing-sharp,
.flash-wrapper span

{
    -webkit-animation: flashSharp 1s linear infinite;
    animation: flashSharp 1s linear infinite;
  }
  @-webkit-keyframes flashSharp {
    100% { opacity: .0; }
  }
  @keyframes flashSharp {
    100% { opacity: .0 }
  }


/* -- Dropdown menu -- */

.dropdown-wrapper {
    position: relative;
    display: inline-block;
  }

  .dropdown-body {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-wrapper:hover .dropdown-body {
    display: block;
  }
